*{
	padding: 0px;
	margin: 0px;
}

.contenedor{
	position: relative;
	margin: auto;
	width: 95%;
	height: auto;
}

	/*Profe pues de aquí a abajo es como siguiendo el tutorial jajajaj*/


.fila{
	position: relative;
	margin: auto;
	width: 100%;
	height: auto;
}

[class*="col-"]{
	padding: 0px;
	float: left;
	justify-content: center;
}

/*pantalla grande */

@media (min-width: 1200px) {
  .col-lg-12 { width: 100%; }
  .col-lg-11 { width: 91.666666%; }
  .col-lg-10 { width: 83.333333%; }
  .col-lg-9  { width: 75%; }
  .col-lg-8  { width: 66.666666%; }
  .col-lg-7  { width: 58.333333%; }
  .col-lg-6  { width: 50%; }
  .col-lg-5  { width: 41.666666%; }
  .col-lg-4  { width: 33.333333%; }
  .col-lg-3  { width: 25%; }
  .col-lg-2  { width: 16.666666%; }
  .col-lg-1  { width: 8.333333%; }
}


/* pantallas pequeñas (celulares) */
@media (max-width: 768px) {
  .col-xs-12 { width: 100%; }
  .col-xs-11 { width: 91.666666%; }
  .col-xs-10 { width: 83.333333%; }
  .col-xs-9  { width: 75%; }
  .col-xs-8  { width: 66.666666%; }
  .col-xs-7  { width: 58.333333%; }
  .col-xs-6  { width: 50%; }
  .col-xs-5  { width: 41.666666%; }
  .col-xs-4  { width: 33.333333%; }
  .col-xs-3  { width: 25%; }
  .col-xs-2  { width: 16.666666%; }
  .col-xs-1  { width: 8.333333%; }


}
 

.imagenFondo{
	background-image: url("../images/imagen1.jpg");
}